header {
    color: white;
    background-color: #2B2E35;
    height: 60px;
    width: 100%;
    /*box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);*/
    /*-webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);*/
    position: relative;
    z-index: 23;
}

header .logo {
    background-color: #2B2E35;
    width: 250px;
    height: 60px;
    float: left;
    padding:10px 0;
    /*-webkit-box-shadow: 3px 0 6px rgba(0, 0, 0, 0.3);*/
    /*-moz-box-shadow: 3px 0 6px rgba(0, 0, 0, 0.3);*/
    /*box-shadow: 3px 0 6px rgba(0, 0, 0, 0.3);*/
    text-align: center;
}
header .logo .logo-rect{
    border-right: 2px #4a4b4c solid;
}
header .logo .logo-rect img{
    width: 45px;
    /*margin:10px;*/
}

header .header-right .photo {
    height: 50px;
    width: 50px;
    float: right;
    margin-right: 30px;
    margin-top: 5px;
    border: 2px solid #fff;
}

header .header-right .profilename {
    float: right;
    margin-right: 20px;
    line-height: 60px;
}

header .header-right .bell {
    height: 60px;
    width: 30px;
    float: right;
    line-height: 60px;
    font-size: 30px;
    margin-right: 20px;
}

header .header-right .alarm {
    height: 15px;
    width: 15px;
    float: right;
    line-height: 15px;
    text-align: center;
    font-size: 8px;
    margin-top: 17px;
    margin-right: -28px;
    background: red;
    color: white;
    border-radius: 50%;
}
header .today-description{
    float: left;
    line-height: 60px;
    margin-left: 15px;
    font-size: 15px;
}
header .today-bar{
    width: 1px;
    background: #4d4f51;
    height: 20px;
    float: left;
    margin:20px 9px;

}
header .today {
    height: 60px;
    /*text-align: center;*/
    color:#c5c6c9;
    float: left;
    line-height: 60px;
    font-size: 13px;
}

.menu-button {
    display: inline-block;
    vertical-align: middle;
    margin: 18px 0px;
    height: 36px;
    font-size: 36px;
    border-radius: 50%;
    width: 36px;
    font-weight: normal;
    line-height: 36px;
    font-style: normal;
    transition: transform .3s;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.23), 0 3px 10px rgba(0, 0, 0, 0.16);
    background: #E91E63;
    color: #fff;
}

.menu-button:hover {
    transform: scale(1.2);
}

.menu-button.highlight {
    transition: transform .3s;
    transform: rotate(180deg);
}

.img-circle {
    border-radius: 50%;
    width: 40px;
    height: 40px;
}

.notification_name {
    overflow: hidden;
    text-overflow: ellipsis;
    width: 180px;
    white-space: nowrap;
    margin: 10px 0px 0px 8px;
    color: #212121;
}

.notification_msg {
    overflow: hidden;
    text-overflow: ellipsis;
    width: 180px;
    white-space: nowrap;
    margin: 0px 0px 0px 8px;
    color: #999;
}