<div class="upgrade clearfix">
    <h3>Subscription Upgrade</h3>
    <div class="upgrade-table">
        <div class="columns description">
            <ul class="price">
                <li class="header">Features</li>
                <li>Profile</li>
                <li>Devices</li>
                <li>Data sharing</li>
                <li>Storage</li>
                <li>Data Retention</li>
                <li>Social sharing</li>
                <li>Historical Trends</li>
                <li>Raw Data Export</li>
                <li>Analytics add-ons*</li>
                <li>Price</li>
            </ul>
        </div>
        <div class="columns">
            <ul class="price">
                <li class="header">Personal</li>
                <li>One</li>
                <li>One</li>
                <li>Be seen only</li>
                <li>2GB</li>
                <li>365 Days</li>
                <li><span class="glyphicon glyphicon-ok"></span></li>
                <li><span class="glyphicon glyphicon-ok"></span></li>
                <li>-</li>
                <li>-</li>
                <li class="price-value">FREE</li>
                <li class="select">Select</li>
            </ul>
        </div>
        <div class="columns current">
            <ul class="price">
                <li class="header">Coach*</li>
                <li>One</li>
                <li>One</li>
                <li>Be seen only</li>
                <li>5GB</li>
                <li>Full</li>
                <li>-</li>
                <li><span class="glyphicon glyphicon-ok"></span></li>
                <li><span class="glyphicon glyphicon-ok"></span></li>
                <li>Purchase add-ons</li>
                <li class="price-value">$5</li>
                <li class="select">Select</li>
            </ul>
        </div>
        <div class="columns">
            <ul class="price">
                <li class="header">Coach Plus*</li>
                <li>30</li>
                <li>30</li>
                <li>See others</li>
                <li>50GB</li>
                <li>Full</li>
                <li>-</li>
                <li><span class="glyphicon glyphicon-ok"></span></li>
                <li><span class="glyphicon glyphicon-ok"></span></li>
                <li>Purchase add-ons</li>
                <li class="price-value">$25</li>
                <li class="select">Select</li>
            </ul>
        </div>
        <div class="columns last">
            <ul class="price">
                <li class="header">Research</li>
                <li>Unlimited</li>
                <li>Unlimited</li>
                <li>Other researchers</li>
                <li>100GB</li>
                <li>Full</li>
                <li>-</li>
                <li><span class="glyphicon glyphicon-ok"></span></li>
                <li><span class="glyphicon glyphicon-ok"></span></li>
                <li>Full</li>
                <li class="price-value">$50</li>
                <li class="select">Select</li>
            </ul>
        </div>
        <div class="clearfix"></div>
        <div class="pull-right btn-process ripplelink">
            <div>
                Process to Upgrade <span class="circle"><i class="glyphicon glyphicon-chevron-right"></i></span>
            </div>
            <span class="ink animate"></span>
        </div>
    </div>
</div>